{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
{{include('components/_partials/header.html.twig')}}

<div class="example-wrapper">
           
    <main class="max-w-screen-lg mx-auto py-5 md:py-16 px-4">
 <ul class="flex gap-2 text-violet-950 mb-4 text-sm">
                <li class="after:content-['>']">
                    <a href="{{ path('app_home') }}">Home</a>
                </li>
  
                <li class="text-violet-600">
                    Tous les articles
                </li>
            </ul>
  		<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
			{% for item in articles %}
				<div class="shadow-lg rounded-md p-4 md:p-6 mb-4 flex flex-col border relative">
					{% if item.isPremium %}
						<div class="absolute bottom-0 right-0 bg-yellow-100 rounded-bl-md rounded-tr-md py-1 px-2 text-sm flex items-center gap-2">
							{{ ux_icon('mdi:star-outline', { 'class': 'h-4 w-4' }) }} Premium
						</div>
					{% endif %}
					<h3 class="mb-1 text-xl-5 text-bold text-black-900">{{ item.title | capitalize }}</h3>
					<p class="text-slate-600 mb-2 text-sm">{{ item.content|slice(0,100) }}...</p>
					<div class="flex justify-between ">		
						<a href="{{ path('app_article_show', {'id': item.id}) }}" class="bg-violet-100 rounded-md py-2 px-3 text-sm hover:bg-violet-200 self-end w-fit transition-all duration-200 ease-in-out">
							Lire la suite
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
        </main>


 {{dump(articles)}}
</div>
{% endblock %}
